<h2 class="sign-up-title">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field-container-reg-new">
    <div class="field">
    <%= f.label :email, :class => 'field-label' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'field-text' %>
    </div>

  <div class="field">
    <%= f.label :password, :class => 'field-label' %><br />
    <%= f.password_field :password, autocomplete: "current-password", :class => 'field-text' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", :class => 'field-label' %>
  </div>
  <%= render "devise/shared/links" %>
  </div>
<% end %>




  