<div class="user">
  <div class="user--avatar">
    <%=image_tag("https://robohash.org/#{@user.id}.png", class: 'user--avatar', alt: 'user picture')%>
  </div>
  <div class="user--name">
    <%=link_to @user.name, user_path(@user), class: 'name'%>
    <%=link_to "Number of posts: #{@user.posts_counter}",          user_posts_path(@user), class: 'posts-num'%>
  </div>
</div>
<%=render partial: 'partials/post_snippet', locals: {posts: @posts} %>
<div class="pagination">
  <div class="btn">
    <%=link_to "Previous Page", user_posts_path(@user, page: @page - 1)%>
  </div>
  <p><%=@page + 1%></p>
  <div class="btn">
    <%=link_to "Next Page", user_posts_path(@user, page: @page + 1)%>
  </div>
</div>