<div class="post">
<%=render partial: 'partials/post_content', locals: {post: @post, user: @user}%>
  <div class="post--comments">
    <h3>Comments</h3>
    <%@comments.each do |comment|%>
      <div class="comment">
        <p><span><%=comment.author.name%></span>:&nbsp;<%=comment.text%></p>
      </div>
    <%end%>
    <%=form_with :url => user_post_comments_path(@user, @post), :method => :post, :class => 'new-comment' do |f|%>
      <%=f.text_field :text, placeholder: 'Comment', class: 'comment-text'%>
      <%=f.submit 'Comment', class: 'comment-submit'%>
    <%end%>
  </div>
</div>